<div class="item">
  <h2>{{ mediaItem.name }}</h2>
  <!-- This is the same as *ngIf. Template never makes it to the DOM. -->
  <template [ngIf]="mediaItem.watchedOn">
    <div>Watched On {{ mediaItem.watchedOn | date: 'shortDate'}}</div>
  </template>
  <div>{{ mediaItem.category }}</div>
  <div>{{ mediaItem.medium }}</div>
    <div>{{ mediaItem.year }}</div>
    <div class="tools">
      <i
        [mwFavourite]="mediaItem.isFavourite"
        class="fa fa-heart"></i>
      <a class="delete btn" (click)="onDelete()">
        Delete
      </a>
      <a class="details btn" (click)="onDetails()">
        Details
      </a>
      <a class="hide btn" (click)="isHidden = !isHidden">
        Hide
      </a>
    </div>
</div>
